<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="bottom">
    <footer class="container">
        <div id="footer">
            <div class="footer-container">
                <ul class="list-link list-unstyled clearfix nav-bar">
                    <li class="float-left mr-4"><a href="/thong-tin/wiki">Wiki</a></li>
                    <li class="float-left mr-4"><a href="/thong-tin/dieu-khoan-su-dung">Điều khoản sử dụng</a></li>
                    <li class="float-left mr-4"><a href="/thong-tin/thu-ngo">Thư ngỏ</a></li>
                    <li class="float-left mr-4"><a href="https://www.facebook.com/Spiderum" target="_blank">Fanpage</a>
                    </li>


                </ul>
                <div class="credit text-muted">
                    <p>Người chịu trách nhiệm nội dung: Bác sĩ Hải • © 2017 Công ty Cổ Phần C0820K! - Trực thuộc Công
                        ty
                        Cổ Phần 1 Thành viên Việt Nam</p>
                    <p>Điện thoại: 0123456789</p>
                    <p>Email: bacsihai@gmail.com</p>
                    <p>Địa chỉ: Tầng 5, 1/186 đường Bưởi, Cống Vị, Ba Đình, Hà Nội</p>
                    <p>Giấy phép MXH số 341/GP-TTTT do Bộ TTTT cấp ngày 27 tháng 6 năm 2016</p>
                </div>
            </div>
        </div>

        <a id="mobile-create-post-btn" href="/bai-dang/viet-bai" class="">
            Viết bài
        </a>
    </footer>
</div>
</body>
</html>